<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%t] %-5p - %m%n"/>
			</layout>
		</appender>

		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\Logs\TestConsoleLog.txt"/>
			<appendToFile value="true"/>
			<maxSizeRollBackups value="7" />
			<rollingStyle value="Date"/>
			<datePattern value=".yyyy-MM-dd" />
			<countDirection value="1"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%t] %-5p %c - %m%n"/>
			</layout>
		</appender>

		<root>
			<level value="ALL"/>
			<appender-ref ref="RollingFileAppender"/>
			<appender-ref ref="ConsoleAppender"/>
		</root>
	</log4net>

</configuration>